body{
    margin: 0px;
    padding: 0px;
    background-color: #f0db65;
}
.result-heading {
  display: grid;
  grid-template-columns:repeat(3 ,1fr)  ;
  grid-gap: 20px ;
  margin-top: 20px;
}
 .meal {
    cursor: pointer; 
    position: relative;
    text-align: center;
} 

.imgSize{
    width:250px;
}