body{
    margin: 0px;
    padding: 0px;
    background-color: #f0db65;
}
button{
    background-color: #b460f0;
}
.result-heading {
  display: grid;
  grid-template-columns:repeat(3 ,1fr)  ;
  grid-gap: 20px ;
  margin-top: 20px;
}
 
.imgSize{
    width:250px;
}


.showDesign{
   margin-left: auto;
    text-align: center;
}